<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MainMapper">
    <!-- CREATE -->
    <insert id="insert">
        INSERT INTO base_table(title)
        VALUES(#{title})
    </insert>

    <!-- READ -->
    <sql id="where_list">
        <where>
            <if test="option.title != null and option.title != ''">
                AND title LIKE CONCAT('%', #{option.title}, '%')
            </if>
        </where>
    </sql>

    <select id="totalCnt">
        SELECT  COUNT(*) as cnt
        FROM    base_table
        <include refid="where_list"/>
    </select>

    <select id="get" resultType="Base">
        SELECT  id, 
                title,
                content
        FROM    base_table
        WHERE   id = #{id}
    </select>

    <select id="getList">
        SELECT  id, 
                title,
                content
        FROM    base_table 
        <include refid="where_list"/>
        LIMIT ${startRow}, ${pageSize}
    </select>
    
    <!-- Update -->
    <update id="update">
        UPDATE base_table
        <set>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="content != null and content != ''">
                content =  #{content},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <!-- DELETE -->
    <delete id="delete">
        DELETE FROM base_table
        WHERE id = #{id};
    </delete>
</mapper>
